apiVersion: batch/v1
kind: Job
metadata:
  name: load-test
  namespace: iot-analytics
spec:
  ttlSecondsAfterFinished: 300
  template:
    spec:
      containers:
        - name: load-tester
          image: alpine/curl
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Нагрузка пошла...";
              end=$((SECONDS+180));
              while [ $SECONDS -lt $end ]; do
                for i in {1..500}; do
                  curl -X POST http://go-microservice.iot-analytics.svc.cluster.local/api/analytics/metrics \
                    -H "Content-Type: application/json" \
                    -d "{\"device_id\":\"device_$(($RANDOM%100))\",\"cpu_usage\":$((RANDOM%100))}" \
                    --connect-timeout 2 --max-time 3 \
                    -s -o /dev/null &
                done;
                wait;
                echo "Запросов за секунду: 500";
              done
          resources:
            requests:
              memory: "256Mi"
              cpu: "300m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      restartPolicy: Never